body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:640px;
  height:80px;
  font-size:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:26px;
  width:50px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:122px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u7 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:245px;
  top:122px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u9 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:440px;
  top:122px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:330px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u13 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:245px;
  top:330px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u15 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:440px;
  top:330px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u17 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:50px;
  top:540px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u19 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:245px;
  top:540px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u21 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:440px;
  top:540px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u23 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:747px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u25 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:245px;
  top:747px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u27 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:440px;
  top:747px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u29 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:960px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u31 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:245px;
  top:960px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u33 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:440px;
  top:960px;
  width:150px;
  height:150px;
  font-size:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u35 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:148px;
  top:233px;
  width:35px;
  height:35px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
