body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:640px;
  height:80px;
  font-size:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:26px;
  width:50px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:260px;
  width:200px;
  height:200px;
  font-size:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:80px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:108px;
  top:120px;
  width:425px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:30px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:102px;
  top:546px;
  width:61px;
  height:36px;
  font-size:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:102px;
  top:634px;
  width:61px;
  height:36px;
  font-size:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:188px;
  top:538px;
  width:350px;
  height:60px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:188px;
  top:630px;
  width:350px;
  height:60px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:60px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16 {
  position:absolute;
  left:438px;
  top:730px;
  width:100px;
  height:60px;
  font-size:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:530px;
  top:11px;
  width:100px;
  height:60px;
  font-size:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
