body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:640px;
  height:80px;
  font-size:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:26px;
  width:50px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:124px;
  width:560px;
  height:776px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:776px;
}
#u7 {
  position:absolute;
  left:2px;
  top:380px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:927px;
  width:560px;
  height:79px;
  font-size:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:79px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:556px;
  word-wrap:break-word;
}
